= render 'layouts/nav'

#main-search-container.col-4-5

  #search-for-matches-header Search For Matches

  #search-form-container
    = form_tag '/users', id: 'search-form', method: 'get' do
      .search-options.grid
        .search-form-top.grid
          .search-form-top-left.col-2-5  
            = label_tag :zip
            = text_field_tag :zip, '', class: 'search-input-box'
            = label_tag :human_language, 'Language'
            = text_field_tag :human_language, '', class: 'search-input-box'
          .search-form-top-right.col-3-5
            = label_tag :game_genre
            = select_tag 'game_genre', options_for_select(%w(Shooter Strategy Puzzle Racing RPG Sports Survival-Horror Indie)), include_blank: true, class: 'search-input-box'
            = label_tag :music_genre
            = select_tag 'music_genre', options_for_select(%w(Rock Rap Jazz Blues Classical Electronic Country World)), include_blank: true, class: 'search-input-box' 
            = label_tag :movie_genre
            = select_tag 'movie_genre', options_for_select(%w(Horror Comedy Action Rom-Com Sci-Fi Kung-Fu Drama Documentary)), include_blank: true, class: 'search-input-box'
        .search-form-bottom.grid
          = label_tag :min_height
          = select_tag 'min_height', options_for_select(48..96), include_blank: true, class: 'search-input-box'
          = label_tag :max_height
          = select_tag 'max_height', options_for_select(48..96), include_blank: true, class: 'search-input-box'
          = label_tag :min_age
          = select_tag 'min_age', options_for_select(18..75), include_blank: true, class: 'search-input-box'
          = label_tag :max_age
          = select_tag 'max_age', options_for_select(18..75), include_blank: true, class: 'search-input-box'

      .search-submit
        = submit_tag 'Search', class: 'search-input-box'

.search-result-container
  %ol.search-results

