<h2><%= @user.uid %>'s profile </h2>

<div id='avatar'>
  <img src='\"'<% @user.profile_picture_url %>'\"' />
</div>

<div id='summary'>
  <h4>Summary</h4>
  <%= @user.summary %>
</div>

<h4>My programming stuff</h4>
<div class='descriptor_box' id='dev_attr'>
  Favorite language: <%= @user.primary_language %><br>
  I do <%= @user.industry %>.<br>
  I've been programming for <%= @user.years_programming %>
    <%= @user.years_programming == 1 ? 'year' : 'years' %>.<br>
  I also speak <%= @user.human_language %>.
</div>

<h4>Vitals</h4>
<div class='descriptor_box' id='vital_info'>
  Location: <%= @user.zip %><br>
  Gender: <%= @user.gender %><br>
  Interested in: <%= @user.interested_in %><br>
  Height: <%= @user.height/12 %>'<%= @user.height%12 %>
</div>

<h4>These are a few of my favorite things</h4>
<div class='descriptor_box' id='fave_stuff1'>
  Favorite animal: <%= @user.fav_animal %><br>
  Favorite book: <%= @user.fav_book %><br>
  Favorite type of game: <%= @user.game_genre %><br>
  Favorite music genre: <%= @user.music_genre %><br>
  Favorite movie genre: <%= @user.movie_genre %><br>
</div>

