#conversation-page-container
  = render 'layouts/nav'

  %section.main_content.grid
    .conversation-preview-container.col-3-4
      %ul.active-conversation-list
        -@chats.each do |chat|
          %li.conversation-preview
            %ul.conversation-preview-contents{data: chat_id = chat.id}
              %li.picture-preview
                = image_tag(chat.other_user(current_user).profile_picture_url)
              %li.username-preview
                Chat with
                = chat.other_user(current_user).name

    #conversation-window-container.col-1-20
      #chat-window
        #chat-display
          %ul.chat-content
        %ul.chat-text-box
          %li.icon-container
            = image_tag('icons/triforce-icon.png', class: 'new-message-prompt')
          %li.new-message-container
            = form_tag '/chats', id: 'chat-submit', method: 'post' do
              = text_field_tag :new_message, nil, placeholder: 'Enter new message...', class: 'new-message-field'
