{{#each this}}
<li class='result-preview'>
  <span class='username-preview'>{{name}}</span>
  <ol class='result-contents'>
    <li class='result-image'>
      <img src="{{profile_picture_url}}" width="100" height="100", class ='language_logo'>
    </li>
    <li class="result-summary">
      <p>{{summary}}</p>
    </li>
    <li class='like-button-container'>
      <button class="like-button">Like</button>
    </li>
  </ol>
</li>
<div class='drawer-handle'>
  <span class='drawer-cta'>Click to expand</span>
</div>
  <div class="extended-profile">

    <p>{{primary_language}}</p>
    <p>{{human_language}}</p>
    <p>{{years_programming}}</p>
    <p>{{industry}}</p>
    <p>{{fav_animal}}</p>
    <p>{{fav_book}}</p>
    <p>{{height}}</p>
    <p>{{game_genre}}</p>
    <p>{{music_genre}}</p>
    <p>{{movie_genre}}</p>

  </div>
{{/each}}
