<ul>
  <li>
    <h4>{{name}}</h4>
    <div id="half-profile">
      <div class="image" id="profile-picture">
        <img src="{{pictureUrl}}" class="photo" width="100" height="100">
      </div>
      <div id="summary">
        <p>{{summary}}</p>
      </div>
      <div id="like-button"></div>
      <div id="extend-button"></div>
    </div>
    <div id="full-profile">
      {{#if **attribute**}}
        <p> </p>
      {{/if}}
    </div>
  </li>
</ul>

{{#each this}}
  <h2>{{title}}</h2>
  {{!-- use author.name to get at the subObjects values --}}
  {{#with author}}
  <p>by {{name}} who goes by {{username}}</p>
    {{!-- otherwise use {{author.name}} {{author.username}} --}}
  {{/with}}

  <p>{{summary}}</p>

  {{#if comments}}
  {{!-- if in hndlebars can act as a comments.present? --}}
    <ul>
      {{#each comments}}
        {{!-- now refers to the id of the Object comments, object being an array/hash look-alike --}}
        <li>{{content}}</li>
      {{/each}}
    </ul>
  {{else}}
    <p>No comments</p>
  {{/if}}
{{/each}}
