{{#each this}}
<div class='individual-result-container'>
  <li class='result-preview' user_id="{{id}}">
    <span class='username-preview'>{{name}}</span>
    <ol class='result-contents'>
      <li class='result-image'>
        <img src="User::LANGUAGES[{{primary_language}}.to_sym]" width="100" height="100", class ='language_logo'>
      </li>
      <li class="result-summary">
        <p>{{summary}}</p>
      </li>
      <li class='like-button-container'>
        <button class="like-button">Like</button>
      </li>
    </ol>
    <div class="extended-profile grid">
      <div class="ep-left-section col-1-2">
        <p>They love to code in {{primary_language}}</p>
        <p>In real life, they speak {{human_language}}</p>
        <p>They've been programming for {{years_programming}}</p>
        <p>They currently work in {{industry}}</p>
        <p>They are {{height}} inches tall</p>
      </div>
      <div class="ep-right-section col-1-2"
        <p>Their favorite animal is the {{fav_animal}}</p>
        <p>Their favorite book is {{fav_book}}</p>
        <p>They enjoy playing {{game_genre}} games</p>
        <p>They enjoy listening to {{music_genre}} music</p>
        <p>They enjoy watching {{movie_genre}} movies</p>
      </div>
    </div>
  </li>
  <div class='drawer-handle'>
    <span class='drawer-cta'>Click to expand</span>
  </div>
</div> 
{{/each}}
