= render 'shared/error'
%h1 These are some things that people can find you by!
= form_for(@user, url: wizard_path, method: :put) do |f|
  = f.label :fav_animal, 'Cats or dogs?'
  = f.select :fav_animal, %w(Cats Dogs)
  = f.text_field :fav_book, placeholder: 'favorite book'
  = f.label :game_genre, 'Favorite game genre*'
  = f.select :game_genre, %w(Shooter Strategy Puzzle Racing RPG Sports Survival-Horror Indie)
  = f.label :music_genre, 'Favorite music genre*'
  = f.select :music_genre, %w(Rock Rap Jazz Blues Classical Electronic Country World)
  = f.label :movie_genre, 'Favorite movie genre*'
  = f.select :movie_genre, %w(Horror Comedy Action Rom-Com Sci-Fi Kung-Fu Drama Documentary)
  = f.submit 'Next'

= render 'wizard_notes'
