<!DOCTYPE html>
<html>
<head>
  <title>AllMyCircuits</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= link_to destroy_user_session_path, method: :delete, class: 'btn btn-warning btn-sm' do %>
<i class="glyphicon glyphicon-log-out"> Logout</i>
<% end %>

<%= yield %>

</body>
</html>
